<div class="section" >
    <h2 class="row" >
        <a class="article_title red-text text-darken-1" href="#">{{ project.title }}</a>
    </h2>
    <p class="row">
        <blockquote class="flow-text">
            {{ project.description }}
        </blockquote>
    </p>
</div>