{% extends 'base.html.twig' %}

{% block navLinks %}
    {{ parent() }}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {#todo add link to profile, forms, etc.#}
    {% else %}
        <li><a href="{{ path('login') }}">login</a></li>
        <li><a href="{{ path('register') }}">register</a></li>
    {% endif %}
{% endblock %}

{% block body %}
    <h1>Articles</h1>

    {% if articles is empty %}
        <div  class="row">
            There isn't any article currently.
        </div>
    {% else %}
        {% for article in articles %}
            {% include "article/include/show.html.twig" %}
            <div class="divider"></div>
        {% endfor %}
    {% endif %}
{% endblock %}
