{% extends 'navlinks_ready_base.html.twig' %}

{% block body %}
    <h1>Articles{% if author is defined %} written by {{ author }} {% endif %}</h1>

    {% include 'article/include/list.html.twig' %}
{% endblock %}
