{% extends 'navlinks_ready_base.html.twig' %}

{% block body %}
    <h1>Articles</h1>

    {% if articles is empty %}
        <div  class="row">
            There isn't any article currently.
        </div>
    {% else %}
        {% for article in articles %}
            {% include "article/include/show.html.twig" %}
            <div class="divider"></div>
        {% endfor %}
    {% endif %}
{% endblock %}
