{% extends 'navlinks_ready_base.html.twig' %}

{% block body %}
    <h1>Ticket {% if isEdit is defined %} edition {% else %}creation {% endif %}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="red accent-2 col s2 offset-s1 btn waves-effect waves-light" type="submit" name="action">
        {% if isEdit is defined %} Edit {% else %}Create {% endif %} article
    </button>
    {{ form_end(form) }}

    <ul>
    <li>
        <a class="red accent-2 col s2 offset-s1 btn waves-effect waves-light" href="{{ path('article_list') }}">Back to the list</a>
    </li>

{% endblock %}